.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f5f5f5;
  padding: 0 1rem;  /* Add padding to ensure spacing on smaller screens */
}

/* Center all content */
.home > * {
  margin-left: auto;
  margin-right: auto;
}